/* You can add global styles to this file, and also import other style files */

/* Color del Loading */
svg path,
svg rect{
  fill: black;
}

.bg-color-gray{
    background-color: #f5f5f5;
}

.img-about-size{
    width: 300px;
    height: 400px;
}